.sign-in-content {
  background-color: #fff;
  width: 300px;
  border-radius: 5px;
  margin: auto;
  margin-top: 3rem;
  padding: 2rem;
}

.sign-in-icon {
  font-size: 5rem;
}

.input-remember {
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
}

.input-remember label {
  margin-left: 0.25rem;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 1rem;
}
.input-wrapper label {
  font-weight: bold;
}
