html {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

body {
  margin: 0;
}

div#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.bg-dark {
  background-color: #12002b;
}

.main {
  flex: 1;
}

.access {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.access a {
  width: 200px;
  padding: 8px;
  margin-top: 1rem;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 700;
  cursor: pointer;
  border-color: #00bc77;
  background-color: #00bc77;
  text-decoration: none;
}
